/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}
#modal-banner {
  background-color: #000000;
  color: white;
  display: none;
  justify-content: center;
  column-gap: 10px;
  padding: 20px 0;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 22px;
  font-size: 1.2em;
  color: #000000; /* Ajouté */
}
/* Ajouté */
header nav a {
  text-decoration: none;
}
/* Ajouté */
header nav img {
  height: 22px;
  filter: drop-shadow(0 0 0.5px black);
}
header li:hover {
  font-weight: 700; /* Ajouté, supprimé le "color" */
}
#introduction {
  display: flex;
  align-items: center;
  margin: 139px 0;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
  margin-left: 60px; /* Ajouté */
}
/* Ajouté */
.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 3em;
  column-gap: 10px;
}
.filters button,
.modal-button {
  font-family: "Syne";
  font-weight: 700;
  font-size: 1.14em;
  height: 37px;
  color: #1d6154;
  text-align: center;
  border: 1px solid #1d6154;
  border-radius: 60px;
  background-color: #ffffff;
  cursor: pointer;
}
#portfolio .tous,
.objets {
  width: 100px;
}
#portfolio .appartements {
  width: 157px;
}
#portfolio .hotels-restaurants {
  width: 198px;
}
#portfolio .active,
.modal-button {
  color: white;
  background-color: #1d6154;
}
.modal-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 237px;
  text-decoration: none;
}
/* Fin d'ajout */

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact span {
  display: flex;
  justify-content: center;
  color: #ff0000;
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px 0 -10px 0;
  opacity: 0;
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
  cursor: pointer;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

/* Ajouté */
form label {
  color: #3d3d3d;
}

form a {
  display: flex;
  justify-content: center;
  align-self: center;
  color: #3d3d3d;
}

#modal-projects,
#modal-add-photo {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.modal-projects_edit {
  position: relative;
  top: 8px;
  left: 30px;
  display: none;
  column-gap: 10px;
  height: 100%;
  text-decoration: none;
  color: black;
}

.modal,
.modal-add-photo {
  background: #0000004d;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal-wrapper {
  overflow: auto;
  max-width: calc(100vh - 20px);
  max-height: calc(100vh - 20px);
  background-color: white;
  width: 600px;
  padding: 20px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.work-modal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px 10px;
  margin: 30px 90px 30px 90px;
  padding-bottom: 50px;
  border-bottom: 1px solid #b3b3b3;
}

.work-modal div {
  position: relative;
}

.work-modal img {
  height: 102px;
  width: 76px;
}

.work-modal i {
  position: absolute;
  right: 5px;
  top: 5px;
  background: black;
  color: white;
  height: fit-content;
  padding: 4px;
  font-size: 12px;
  text-align: center;
  border-radius: 2px;
  width: 12px;
  cursor: pointer;
}

.modal-close {
  position: relative;
  right: -49%;
  cursor: pointer;
  font-size: 20px;
}

.modal-title {
  color: #000;
  text-align: center;
  font-family: Work Sans;
  font-size: 1.85em;
  font-weight: 400;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-nav {
  position: relative;
  width: 100%;
  padding-bottom: 20px;
}

.modal-photo-return {
  position: absolute;
  left: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #000000;
}

.modal-photo-close {
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}

.modal-form-photo-preview[src="*"] {
  width: 129px;
  height: 169px;
  position: absolute;
}

.modal-photo-adder {
  background-color: #e8f1f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 420px;
  height: 169px;
}

.modal-photo-adder i {
  font-size: 76px;
  color: #b9c5cc;
}

.modal-photo-adder label {
  background-color: #cbd6dc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  width: 173px;
  height: 36px;
  color: #306685;
  cursor: pointer;
  font-weight: 600;
}

.modal-photo-adder span {
  font-size: 0.71em;
  color: #444444;
}

#photo-file-input {
  display: none;
}

.modal-photo-infos {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 420px;
  padding: 30px 0 50px 0;
  border-bottom: 1px solid #b3b3b3;
}

.category-select-container {
  position: relative;
}

.category-select-container i {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 11px;
  color: #6c6c6c;
  padding: 20px 28px 0 0;
}

.modal-photo-infos input,
select {
  color: #444444;
  border: 1px;
  height: 51px;
  width: 420px;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
  text-indent: 16px;
}

.modal-photo-infos select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  z-index: 1;
  position: relative;
  background: transparent;
}

#modal-form-submit {
  display: flex;
  justify-content: center;
  width: 237px;
  height: 36px;
  background-color: #a7a7a7;
  font-size: 1em;
  border: none;
}
